# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig
# Created by https://www.toptal.com/developers/gitignore/api/basic,c++,cmake
# Edit at https://www.toptal.com/developers/gitignore?templates=basic,c++,cmake

### Basic ###
# Apples Build
*.build
*.apples

# Initialized files
*.exe
*.ini
*.basic

### C++ ###
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
CMakeUserPresets.json

# External projects
*-prefix/

# End of https://www.toptal.com/developers/gitignore/api/basic,c++,cmake

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

# Build directories
build/
build_clang/
cmake-build-*/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
# But allow cmake module files
!cmake/*.cmake

# Compiled binaries
msbasic
msbasic.exe
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# IDE files
.vs/
.vscode/
*.user
*.suo
*.sln
*.vcxproj*
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.bak
*.swp
*~
*.arr
commit-message.txt
Research/.venv/

.fake
.cache/

# CodeQL artifacts
_codeql_*/
_codeql_build_dir/
_codeql_detected_source_root
.codeql/
*.sarif
codeql-*
binfile.dat

# Test generated files
*.dat
*.tbl
testfile.txt
locktest.txt
newfile.txt

# Auto-downloaded assets
assets/fonts/PrintChar21.ttf
assets/fonts/apple2-charset.html
